*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(171, 142, 204);
}

#headerMain{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: blueviolet;
    margin-top: 10%;
}
p{
    margin-left: 2%;
    
}
p a{
    background-color: white;
    padding: 5px;
}
img{
    
    margin: 10px;
}
.centerImage{
    text-align: center;
    border: solid 1px green;
    border-radius: 25%;

}
h2{
    margin-left: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}